.button {
    -fx-background-color: linear-gradient(#888888, #000000);
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}
.button:hover {
    -fx-background-color: linear-gradient(#777777, #444444);
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}
.button:pressed {
    -fx-background-color: linear-gradient(#999999, #CCCCCC);
    -fx-text-fill: #000000;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-border-color: #000000;
}

#backButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
}
#backButton:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: linear-gradient(#333333, #777777);
}
#backButton:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: linear-gradient(#AAAAAA, #AAAAAA);
}